<footer class="bg-light border-top py-3 px-4 mt-auto">
    <div class="container-fluid">
        <span class="text-muted">
            &copy; @DateTime.UtcNow.Year - TVT
        </span>
    </div>
</footer>