<div class="container-fluid pb-3 border-bottom">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
        <div>
            <h1 class="h3 mb-1">@ViewData["Title"]</h1>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a asp-area="Admin"
                           asp-controller="Dashboard"
                           asp-action="Index">
                            Dashboard
                        </a>
                    </li>

                    <li class="breadcrumb-item active" aria-current="page">
                        @ViewData["Title"]
                    </li>
                </ol>
            </nav>
        </div>

        <div class="d-flex align-items-center gap-2" id="page-actions">
        </div>
    </div>
</div>